<!DOCTYPE html>
<html lang="en">
<head>
  <title>York High School</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">York High School</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/user">User</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid bg-1 text-center">
  <h3 class="margin" id="title">York High School</h3>
  <img src="../static/mainpage/main.jpg" class="img-responsive img-circle margin" style="display:inline" alt="School Logo" width="350" height="350">
  <h3></h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">About us</h3>
  <p>THE MISSION OF YORK HIGH SCHOOL – A PART OF ELMHURST COMMUNITY UNIT SCHOOL DISTRICT 205 – IS TO PROVIDE AN EDUCATION THAT ENABLES ALL STUDENTS TO BECOME LIFE-LONG LEARNERS WHO RESPECT THE DIVERSITY OF OTHERS. </p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<div class="container-fluid bg-3 text-center">
  <h3 class="margin">York News</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Superintendent's Message: Happy Thanksgiving 2019
        For many, Thanksgiving is officially the start to the holiday season. For others, the holidays begin as early as Labor Day or Halloween or the Hallmark Channel’s marathons. For me, it is definitely Thanksgiving.</p>
<!-- <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">-->
    </div>
    <div class="col-sm-4">
      <p>Become A Freshman Mentor!
        Are you a leader?  Do you want to BECOME a leader?  Do you like working with people?  If so, consider becoming a Freshman Mentor.  We are looking for a variety of personalities and skills so if you are interested, don't hesitate to apply. </p>
   <!--   <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">-->
    </div>
    <div class="col-sm-4">
      <p>York Apparel Open House - Dec. 11
        Mark your calendars! The York Apparel OPEN HOUSE is Wednesday, Dec 11th from 11-2:30pm and 7-8:30pm at York HS. Looking for York Duke Apparel and more for holiday gifts?  Here is your once a year chance for easy shopping!  The York Athletic Boosters are bringing the entire inventory of York Apparel and swag to the lobby of Door 1 (Academic Wing) at York High School for pop-up shopping for you. </p>
     <!-- <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">-->
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>YORK HIGH SCHOOL©</p>
</footer>

</body>
</html>
